/* KEYFRAMES */

@keyframes bounce {
    50%{
        transform: scale(0.95);
    }
}
@keyframes border_tr {
    0%{
        width: 0;
        height: 0;
        border-top-color: var(--primary-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: var(--primary-color);
        border-right-color: black;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: var(--primary-color);
        border-right-color: black;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
@keyframes border_bl {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--primary-color);
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: black;
        border-left-color: var(--primary-color);
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: black;
        border-left-color: var(--primary-color);
    }
}

@keyframes border-button_tr {
    0%{
        width: 0;
        height: 0;
        border-top-color: white;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
@keyframes border-button_bl {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: white;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: white;
        border-left-color: white;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: white;
        border-left-color: white;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(359deg);
    }
}
@keyframes rotateReverse {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(359deg);
    }
}
@keyframes blink {
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes hover {
    50%{
        transform: matrix(1, 0, 0, 1, 0, -9);
    }
    100%{
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    
}
@keyframes slide{
    30%{
        transform:translateX(0rem)
    }
    35%{
        transform:translateX(-26rem)
    }

    60%{
        transform:translateX(-26rem)
    }
    65%{
        transform:translateX(-52rem)
    }

    90%{
        transform:translateX(-52rem)
    }
    95%{
        transform:translateX(0rem)
    }
}
@keyframes slide_small{
    30%{
        transform:translateX(0rem)
    }
    35%{
        transform:translateX(-26rem)
    }

    60%{
        transform:translateX(-26rem)
    }
    65%{
        transform:translateX(-52rem)
    }

    90%{
        transform:translateX(-52rem)
    }
    95%{
        transform:translateX(0rem)
    }
}
